<%- layout('./layouts/boilerplate.ejs') %>

<div class="row">
    <div class="col-6 offset-3 mt-3 alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
        <b class="alert-heading"><%= msg %> !</b>
        <!-- <p>Status Code: <%= status %></p> -->
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
