<% layout("/layouts/boilerplate") -%>
<!-- nopage -->
 <div class="container">
     <div class="error-page">
         <h1>404</h1>
         <p>Sorry, the page you're looking for doesn't exist.</p>
         <a href="/products" class="btn-primary">Go to Homepage</a>
         <p>Please check the URL and try again.</p>
         <p style="margin-bottom: 13rem;">If you encounter this issue frequently, please contact us at <a href="mailto:your-email@example.com">your-email@example.com</a>.</p>
 </div>
<style>
    .error-page {
        text-align: center;
        padding-top: 150px;
    }
    .error-page h1 {
        font-size: 72px;
    }
    .error-page p {
        font-size: 24px;
    }
    .btn-primary {
        margin-top: 20px;
    }
 
</style>