<header>
    <nav>
        <div class="left-section">
            <div class="navbar-brand logo">
                <a href="/">🚀 Legal<span style="color:#e040fb;">HuB</span></a>
            </div>
            <ul>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/documents">Documents</a></li>
                <!-- <li><a href="/articles">Articles & Guides</a></li> -->
                <li><a href="/rights">Fundamental Rights</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/#FAQs">FAQs</a></li>
            </ul>
        </div>
        <div class="auth-links">
            <% if (currentUser) { %>
                <a href="/api/users/logout">Logout</a>
                <% } else { %>
                    <a href="/login">Login</a>
                    <% } %>
        </div>
    </nav>
</header>